language: ruby
rvm:
  - 2.2
env:
  global:
    - RACKET_DIR=~/racket
    - RACKET_VERSION=6.12
sudo: required
git:
  quiet: true
branches:
  only:
    - gh-pages
    - /.*/


before_install:
  - git clone https://github.com/greghendershott/travis-racket.git
  - cat travis-racket/install-racket.sh | bash
  - export PATH="${RACKET_DIR}/bin:${PATH}"
  - gem install asciidoctor
  - wget https://downloads.wkhtmltopdf.org/0.12/0.12.4/wkhtmltox-0.12.4_linux-generic-amd64.tar.xz
  - tar xvf wkhtmltox-0.12.4_linux-generic-amd64.tar.xz
  - mv wkhtmltox/bin/wkhtmlto* /usr/bin
  - apt-get install -y pdftk

script:
  - which asciidoctor
  - echo PATH is $PATH
  - ls ~
  - ls -d ~/.*
  - ls
  - ls -d .*
  - ./build-something-r.sh
  - ./build-something-a.sh
  - ./build-something-w.sh

after_success:
  - ls example.html
  - ./travis-push.sh
